#blackScreen{
    top: 0;
    left: 0;
    position: fixed;
    min-width: 100%;
    width: 100%;
    min-height: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 20;
    display:block;
    
}

table{
    margin: 10%;
}
td{
    border: 1px solid black;
    width: 30px;
    height: 20px;
}
#popupScreen{

    position : absolute;
    top: 10%;
    left: 10%;
    min-width: 80%;
    min-height: 80%;
    z-index: 50;
    width: 80%;
    background-color: whitesmoke;
    border-radius: 5% 5% 5% 5%;
}